:root {
  --primary: #1976d2;
  --body: #eeeeee;
  --text-basic: #717171;
  --text-secondary: #919191;
  --text-green: #3c7649;
  --text-blue: #3684cb;
  --text-red: #dd4b4b;
  --header-background: #fff;
  --card-header: #f6f6f6;
  --card-background: var(--header-background);
  --button-background: #f4f4f4;
}
